.skill-item-container {
    width: 150px;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow: 2px 2px 14px 1px rgba(67, 106, 71, 0.5);
}
